.category {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.category > ul {
  width: 50%;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.category > ul > li:hover{
  cursor: pointer;
}