.mainpage {
  height : auto;
  min-height: 100vh;
  margin-top: 70px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  gap: 70px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  padding-left: 360px;
  font-size: 20px;
  font-weight: 600;
}

.bookContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.bookContainer > img {
  height: 50px;
  width: 30px;
}

.bookContainer > img:hover {
  cursor: pointer;
}

.bookBox {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.book {
  width: 200px;
  height: 280px;
  border: solid 1px black;
}

.book:hover {
  cursor: pointer;
}