.login {
  height : auto;
  min-height: 100vh;
  margin-top: 50px;
  padding-bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.logo {
  text-align: center;
}

.login > form {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.whetherMember {
  display: flex;
}

.whetherMember > p {
  width: 150px;
  height: 43px;
  border: solid 1px black;
  border-bottom: none;
  color: black;
  text-align: center;
  line-height: 43px;
}

.whetherMember > p:last-child {
  border: none;
  border-bottom: solid 1px black;
  background-color: rgb(235, 235, 235);
}

.loginInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.loginInput > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.loginInput > div > input {
  width: 270px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0;
  padding: 0 15px;
}

#loginBtn {
  width: 300px;
  height: 55px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
}

#loginBtn:hover {
  cursor: pointer;
}

.joinBtn{
  width: 270px;
  color: black;
  font-size: 12px;
  text-align: right;
  padding-top: 5px;
}

a {
  text-decoration: none;
}

#showLoginMessage{
  padding-top: 5px;
}

.showMessage {
  width: 280px;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  padding: 0 10px;
  color: red;
  display: block;
}
